<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="GreenPipes" version="2.1.4" targetFramework="net462" />
  <package id="MassTransit" version="5.3.2" targetFramework="net462" />
  <package id="NewId" version="3.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net462" />
  <package id="Parbad" version="1.2.0" targetFramework="net462" />
  <package id="System.Linq.Dynamic.Core" version="1.0.8.18" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
</packages>