<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net462" />
  <package id="PersianDate" version="3.5.5" targetFramework="net462" />
  <package id="Topshelf" version="4.1.0" targetFramework="net461" />
  <package id="Topshelf.CastleWindsor" version="1.0.0" targetFramework="net461" />
  <package id="Topshelf.NLog" version="4.1.0" targetFramework="net461" />
</packages>