
<table class="m_-4741525052334641132wrapper" style="margin:0 auto;padding:0;width:100%;direction:rtl;font-family:tahoma!important  ; font-size: 15px!important;    ;background-color:#e9ece6">
    <tbody>
        <tr class="m_-4741525052334641132header" style="margin:0;padding:0">
            <td style="margin:0;padding:15px 0;border-bottom:1px solid #e4e4e4;width:100%;display:table;background-color:#333">
                <a href="http://sabinarya.com/" style="margin:0;padding:0;text-decoration:none;color:#4f4f4f" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://sabinarya.com/&amp;source=gmail&amp;ust=1528556488267000&amp;usg=AFQjCNHGS3JDUGhRefiwSn0VKnN-QvIU8g">
                    <img src="http://sabinarya.com/Content/images/logo.png" alt="takhfifan" style="margin:0;padding:0" class="CToWUd">
                </a>


            </td>
        </tr>
        <tr>

<td style="margin:0;padding:15px 0;display:table;width:100%">

        <p style="margin:6px 0;padding:0;line-height:180%;text-align:justify">

        </p><h1 style="font-size:15px;font-weight:normal;line-height:22px;margin:0 0 11px 0">مشتری گرامی <span style="color:#51a8b1">{0}</span></h1>

        <br style="margin:0;padding:0">
        به مجموعه سابین  خوش آمدید. سفارش شما با موفقیت در سامانه ثبت گردید. لطفا برای تکمیل مدارک خود به
        <a href="{1}">این لینک  </a>
        مراجعه نمایید.



        <br>
        <br><br>
        <div style="font-weight:bold">
            راهنما
        </div>
        <hr />
        اگر برای اشخاص حقوقی کدملی شخص حقیقی و برای اش حقوقی کد ملی شخص حقوقی بعنوان نام کاربری در نظر گرفته شده است. اگر تاکنون وارد سامانه نشده اید توسط این لبنک به سامانه مراجعه نموده و کلمه عبور خود را ایجاد نمایید.


        <br>
        <br>
        <br>
        برای بازیابی کلمه عبور به <a href="{1}"> این لینک</a> مراجعه نمایید
        <br>
        <br>

        با تشکر و احترام
        <br>
        مجموعه سابین

        <p></p>

        <p></p><p></p>
    </td>
    </tr>
    <tr>
        <td style="padding:10px 0"></td>
    </tr>
   
    <tr>
        <td>
            <div class="container">

                <div class="row" style="text-align:center">
                    <!-- FOOTER CONTACT INFO -->
                    <div class="column col-md-6 col-lg-6 col-sm-6 col-xs-12 pull-right" ng-class="{'pull-left': app_direction=='ltr' , 'pull-right': app_direction=='rtl'}" style="color:white;background-color:#333">
                        <h3 ng-class="{'ltr-font ltr': app_direction=='ltr' , 'yekan rtl': app_direction=='rtl'}" class="wow fadeInRight animated ng-scope yekan rtl animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;" translate="CONTACT">ارتباط با ما</h3>
                        <address ng-class="{'ltr-font ltr': app_direction=='ltr' , 'yekan rtl': app_direction=='rtl'}" class="font-opensans  wow fadeInUp animated yekan rtl animated" style="visibility: visible; animation-name: fadeInUp;text-align:center">


                            <p ng-style="app_direction=='ltr' &amp;&amp; {'padding-left':'5px'} || {'padding-right':'5px'}" style="padding-right: 5px;">
                                <span class="fa fa-map-marker" style="color: #ffffff; font-size:20px; margin:0 5px"></span>
                                <span translate="ADDRESS" class="ng-scope" style="color:white">تهران، گاندی, خیابان پانزدهم, پلاک ۱۵ - طبقه چهارم   -   کد پستی: ۱۵۱۷۸۸۶۱۱۹</span>
                            </p>


                            <p ng-style="app_direction=='ltr' &amp;&amp; {'padding-left':'5px'} || {'padding-right':'5px'}" style="padding-right: 5px;">
                                <span class="fa fa-phone" style="color: #ffffff; font-size:20px; margin:0 5px"></span>
                                <span style="line-height:40px !important" translate="TELEPHONE" style="color:white" class="ng-scope">تلفن:<strong><a href="tel://02141624415" style="color:wheat"> ۴۱۶۲۴۴۱۵-۰۲۱ </a>– <a href="tel://02141624416" style="color:wheat"> ۴۱۶۲۴۴۱۶-۰۲۱</a></strong></span>
                            </p>


                            <p ng-style="app_direction=='ltr' &amp;&amp; {'padding-left':'5px'} || {'padding-right':'5px'}" style="padding-right: 5px;">
                                <span class="fa fa-envelope" style="color: #ffffff; font-size:20px; margin:0 5px"></span>
                                <span translate="EMAIL"  style="color:white" class="ng-scope">آدرس پست الکترونیکی: <strong> <a style="color:wheat" href="mailto:info@sabinarya.com"> info@sabinarya.com</a></strong> </span>
                            </p>


                        </address>

                    </div>


                </div>

            </div>
        </td>

    </tr>

    </tbody>
</table>
