<div style="margin: 0; padding: 0; font-family: Tahoma; font-size:12px;" dir="rtl">
    <div style="background-color: #3b5998; font-weight:bold; vertical-align: baseline; padding:10px;">
        <a href="http://sabinarya.com" style="color:white !important; text-decoration:none !important;">وب سایت شرکت سابین تجارت آریا</a>
    </div>
    <div style="margin:15px 0;">
        کاربر گرامی
        <br />
        حضور شما را به جمع کاربران سایت تبریک می گوییم
        <br /><br />
        برای جلوگیری از هر گونه سوءاستفاده و همچنین پایان فرآیند ثبت نام لطفا ایمیل خود را تایید نمایید
        <br />
        <div style="width:150px; height:30px; font-family:Tahoma; background-color: #1BA012; border-radius: 4px;text-align: center; vertical-align: middle; margin:35px auto; padding-top:10px;">
            <a href="{0}" style="color:#fff; font-size:14px; text-decoration:none;">تایید کردن ایمیل</a>
        </div>
        با سپاس از همراهی شما
    </div>
    <div style="background-color: #3b5998; font-size:10px; color: #ddd; vertical-align: baseline; text-align: center; padding:5px;">
        این ایمیل به صورت خودکار ارسال شده است. لطفاٌ از پاسخ دادن به آن خودداری نمایید
    </div>
</div>